.input-group {
  position: relative;
}

input.icon {
  background: var(--bg-color-card);
  border: var(--border-input);
  border-radius: 30px;
  height: 45px;
  width: 100%;
  min-width: 0;
  padding: 10px 5px 10px 50px;
  color: var(--font-color-primary);
  font-size: 16px;
  transition: 0.2s;
  box-shadow: var(--box-shadow);
}

input.icon ~ i {
  top: 15px;
  left: 20px;
  position: absolute;
  color: #71767b;
  transition: 0.2s;
}

input.icon:focus ~ i {
  color: var(--primary-color);
}
