.card-recent {
  width: 100%;
  height: 20rem;
  max-height: 20rem;
  position: relative;
}

.card-recent img {
  transition: 0.5s;
  /* transition-delay: 0.4s; */
  /* position: absolute; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  filter: brightness(0.9);
}

.card-recent:hover img {
  filter: brightness(0.7);
}

.card-recent .title-new {
  position: absolute;
  bottom: 16px;
  left: 16px;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
  min-height: 80px;
  max-height: 125px;
  max-width: 40rem;
  text-decoration: none;
  color: var(--font-color-primary);
  text-shadow: var(--text-shadow-color) 2px 0px 0px,
    var(--text-shadow-color) 1.75517px 0.958851px 0px,
    var(--text-shadow-color) 1.0806px 1.68294px 0px,
    var(--text-shadow-color) 0.141474px 1.99499px 0px,
    var(--text-shadow-color) -0.832294px 1.81859px 0px,
    var(--text-shadow-color) -1.60229px 1.19694px 0px,
    var(--text-shadow-color) -1.97998px 0.28224px 0px,
    var(--text-shadow-color) -1.87291px -0.701566px 0px,
    var(--text-shadow-color) -1.30729px -1.5136px 0px,
    var(--text-shadow-color) -0.421592px -1.95506px 0px,
    var(--text-shadow-color) 0.567324px -1.91785px 0px,
    var(--text-shadow-color) 1.41734px -1.41108px 0px,
    var(--text-shadow-color) 1.92034px -0.558831px 0px;
  font-size: 28px;
  cursor: pointer;
}

.card-recent .title-new:visited {
  color: inherit;
}

.card-recent .title-new:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .card-recent .title-new {
    font-size: 24px;
  }
}
