<div class="card-website">
  <div class="item">
    <div class="gradient line line-1">
    </div>
  </div>
  <div class="item">
    <div class="gradient image">
    </div>
    <div class="gradient line line-1">
    </div>
  </div>
  <div class="item">
    <div class="gradient image">
    </div>
    <div class="gradient line line-1">
    </div>
  </div>
  <div class="item">
    <div class="gradient image">
    </div>
    <div class="gradient line line-1">
    </div>
  </div>
  <div class="item">
    <div class="gradient image">
    </div>
    <div class="gradient line line-1">
    </div>
  </div>
</div>