.card-website {
  background: var(--bg-color-card);
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  max-width: 300px;
  width: 300px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  min-height: 10rem;
  height: auto;
  padding: 1rem 0.5rem;
  margin: 0;
  gap: 1rem;
  opacity: 1;
  position: fixed;
  transform: translate(0, 78px);
}

.card-website .item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-website .image {
  max-height: 100%;
  min-width: auto;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
}

.line {
  height: 30px;
  border-radius: 8px;
  width: 100%;
}

.line-1 {
  width: 80% !important;
}
