<nav class="sidebar">
  <div class="logo-details " (click)="goToHome()">
    <img src="/assets/logo.png" alt="logo" srcset="">
    <!-- <i class='bx bx-news icon'></i> -->
    <span class="logo_name">InfoReader</span>
  </div>
  <ul class="nav-list">
    <li>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class='bx bx-news'></i>
        <span class="links_name">News</span>
      </a>
      <span class="tooltip">News</span>
    </li>
    <li>
      <a routerLink="/explore" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class='bx bx-world'></i>
        <span class="links_name">Explore</span>
      </a>
      <span class="tooltip">Explore</span>
    </li>
    <li class="mobile">
      <a routerLink="/search" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class='bx bx-search'></i>
        <span class="links_name">Search</span>
      </a>
      <span class="tooltip">Search</span>
    </li>
    <li>
      <a routerLink="/feed/saved" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class='bx bx-bookmark'></i>
        <span class="links_name">Saved</span>
      </a>
      <span class="tooltip">Saved</span>
    </li>
    <li>
      <a routerLink="/settings" routerLinkActive="active">
        <i class='bx bx-cog'></i>
        <span class="links_name">Settings</span>
      </a>
      <span class="tooltip">Settings</span>
    </li>
  </ul>

  <div class="profile">
    <div class="btn-wrapper" *ngIf="!isAuthenticated">
      <button (click)="showModal('login')" class="btn btn-following btn-lg">Sign in</button>
      <button (click)="showModal('register')" class="btn btn-primary btn-lg">Sign on</button>
    </div>
    <div *ngIf="isAuthenticated" routerLink="/settings" class="profile-details">
      <figure class="box-image">
        <img [src]="userActive.image" alt="img-user">
      </figure>
      <span class="username"> {{ getName }} </span>
    </div>
  </div>

</nav>