nav {
  position: fixed;
  height: 100%;
  width: 250px;
  border-right: 1px solid #a5a5a5;
  padding: 6px 14px;
  z-index: 103;
  transition: 0.5s ease;
  padding: 0 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

nav .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  opacity: 1;
  gap: 5px;
  cursor: pointer;
}

nav .logo-details img {
  opacity: 1;
  transition: 0.5s;
  max-width: 3.2rem;
}

nav .logo-details span.logo_name {
  color: var(--primary-color);
  font-size: 30px;
  font-weight: 600;
  opacity: 1;
  transition: 0.5s;
  flex-grow: 1;
}

nav .logo-details .toggled {
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
  position: absolute;
  width: 100%;
}

nav.open .logo-details .toggled {
  position: initial;
}

nav i {
  color: var(--bg-color-secondary);
  min-width: 60px;
  font-size: 28px;
  text-align: center;
}

nav .nav-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

nav li {
  position: relative;
  margin: 0;
  list-style: none;
  height: 55px;
}

nav li.mobile {
  display: none;
}

nav li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  color: var(--font-color-primary);
  background: var(--bg-color-card);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
  display: none;
}

nav li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: 0.5s ease-out;
  top: 50%;
  transform: translateY(-50%);
}

nav li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 40px;
  align-items: center;
  text-decoration: none;
  transition: 0.5s ease;
  background: transparent;
  cursor: pointer;
}

nav li a:hover,
.profile .profile-details:hover,
.active {
  background: var(--bg-hover) !important;
}

nav li a .links_name {
  color: var(--font-color-primary);
  font-size: 19px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 0;
  letter-spacing: 1px;
  pointer-events: none;
  transition: 0.4s;
  opacity: 1;
}

nav li a:hover .links_name,
nav li a:hover i {
  transition: 0.5s ease;
}

nav li i {
  font-size: 30px;
  border-radius: 12px;
}

nav .profile {
  width: 100%;
  padding: 0.2rem;
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
}

.profile .profile-details {
  display: flex;
  align-items: center;
  border-radius: 40px;
  padding: 0.7rem;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  transition: 0.5s;
  gap: 14px;
}

.profile-details .box-image {
  width: 3rem;
  height: 3rem;
  min-width: 3rem;
  min-height: 3rem;
}

.profile-details img {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.profile-details .username {
  flex-grow: 1;
  font-size: 16px;
  font-weight: 500;
  color: var(--bg-color-secondary);
  white-space: nowrap;
  opacity: 1;
  transition: 0.4s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile a {
  text-decoration: none;
  display: flex;
  align-items: center;
  opacity: 1;
}

.profile-details a i {
  min-width: 0;
  font-size: 24px;
}

.profile .btn-wrapper {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btn {
  max-width: 90%;
  border-radius: 40px;
}

@media (max-width: 1280px) {
  nav {
    width: 80px;
  }

  nav li .tooltip {
    display: block;
  }

  nav li.mobile {
    display: block;
  }

  nav .logo-details {
    gap: 0;
    justify-content: center;
  }

  nav .logo-details .logo_name,
  nav li a .links_name,
  .profile-details .username,
  .profile a {
    opacity: 0;
    display: none;
  }

  nav li a .links_name {
    pointer-events: auto;
    transition: 0.4s;
    font-weight: 400;
  }

  nav .logo-details i,
  nav li a i {
    flex-grow: 1;
  }

  nav .profile,
  .profile-details {
    justify-content: center;
  }

  .profile-details {
    padding: 0.3rem !important;
    width: auto !important;
  }

  .profile-details .box-image {
    justify-content: center;
  }

  .profile .btn-wrapper {
    display: none;
  }
}

@media (max-width: 768px) {
  nav {
    width: 100vw !important;
    height: auto;
    bottom: 0;
    transition: none;
    background: var(--bg-color);
    border-right: none;
    border-top: 1px solid #a5a5a5;
  }

  nav .profile,
  nav .logo-details {
    opacity: 0;
    display: none;
  }

  nav .nav-list {
    flex-direction: row;
    bottom: 0;
    justify-content: space-evenly;
  }

  /* nav li {
    padding: 10px 0;
  } */

  nav li .tooltip {
    display: none;
  }

  nav li a {
    min-width: 4rem;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }

  nav li a i {
    font-size: 28px;
    flex-grow: 0;
  }

  nav li a .links_name {
    font-size: 11px;
    opacity: 1;
  }
}
