<div class="home-section" *ngIf="feeds">
  <section class="recently">
    <div class="title-wrapper">
      <span class="title-section">Latest news</span>
      <a class="refresh" [class.loading]="isLoading" *ngIf="getSkip >= 10 || feeds.length < 1" (click)="reloadData()">
        <i class="bx bx-refresh"></i>
      </a>
    </div>
    <div class="news-container">
      <div class="skeletons" *ngIf="isLoading">
        <app-card-new></app-card-new>
        <app-card-new></app-card-new>
        <app-card-new></app-card-new>
      </div>
      <app-no-feeds *ngIf="!isLoading && feeds.length < 1" [messageIndex]="0"></app-no-feeds>
      <app-news-container [recentFeed]="recentFeed" *ngIf="!isLoading && feeds.length > 0" [feeds]="feeds"
        (moreItems)="onScroll()">
      </app-news-container>
    </div>
  </section>
  <section class="websites">
    <div class="top-search">
      <app-search-input (search)="search($event)"></app-search-input>
    </div>
    <app-card-websites-a *ngIf="isLoading"></app-card-websites-a>
    <app-websites-card *ngIf="!isLoading" [websites]="websites"></app-websites-card>
  </section>
</div>